In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as svm
%matplotlib inline
import pandas as pd
import csv
import numpy as np
from sklearn import preprocessing
import statistics
import sys

**Loading datsets for content based filtering which is based on category and quality of game**

In [2]:
ds_collab = pd.read_csv('steam-200k.csv')

In [3]:
ds_collab.head(10)

     user_id                        name    status  hours
0  151603712  The Elder Scrolls V Skyrim  purchase    1.0
1  151603712  The Elder Scrolls V Skyrim      play  273.0
2  151603712                   Fallout 4  purchase    1.0
3  151603712                   Fallout 4      play   87.0
4  151603712                       Spore  purchase    1.0
5  151603712                       Spore      play   14.9
6  151603712           Fallout New Vegas  purchase    1.0
7  151603712           Fallout New Vegas      play   12.1
8  151603712               Left 4 Dead 2  purchase    1.0
9  151603712               Left 4 Dead 2      play    8.9

In [4]:
ds_collab.size

800000

In [5]:
ds_collab['filter_hours'] = ds_collab['hours']

In [6]:
ds_collab.head()

     user_id                        name    status  hours  filter_hours
0  151603712  The Elder Scrolls V Skyrim  purchase    1.0           1.0
1  151603712  The Elder Scrolls V Skyrim      play  273.0         273.0
2  151603712                   Fallout 4  purchase    1.0           1.0
3  151603712                   Fallout 4      play   87.0          87.0
4  151603712                       Spore  purchase    1.0           1.0

**Data Pre-processing**

In [7]:
#considering actual hours played by user(not purchased)
for i in range(len(ds_collab)):
    if ds_collab['status'][i] == 'purchase':
        ds_collab['filter_hours'][i] = 0

/tmp/ipykernel_4865/471609332.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds_collab['filter_hours'][i] = 0

In [8]:
ds_collab.head(5)

     user_id                        name    status  hours  filter_hours
0  151603712  The Elder Scrolls V Skyrim  purchase    1.0           0.0
1  151603712  The Elder Scrolls V Skyrim      play  273.0         273.0
2  151603712                   Fallout 4  purchase    1.0           0.0
3  151603712                   Fallout 4      play   87.0          87.0
4  151603712                       Spore  purchase    1.0           0.0

In [9]:
ds_collab = ds_collab[ds_collab.groupby('name').user_id.transform(len) >= 20]

In [10]:
ds_collab.head()

     user_id                        name    status  hours  filter_hours
0  151603712  The Elder Scrolls V Skyrim  purchase    1.0           0.0
1  151603712  The Elder Scrolls V Skyrim      play  273.0         273.0
2  151603712                   Fallout 4  purchase    1.0           0.0
3  151603712                   Fallout 4      play   87.0          87.0
4  151603712                       Spore  purchase    1.0           0.0

In [11]:
#setting new attribute called avergae_playtime for each game
playtime_mean_per_game = ds_collab.groupby(['name'],as_index=False).filter_hours.mean()
playtime_mean_per_game.rename(columns = {'filter_hours':'avg_hours'}, inplace = True)
playtime_mean_per_game

                                           name  avg_hours
0     12 Labours of Hercules II The Cretan Bull   1.715000
1                                        3DMark   6.688889
2                                      404Sight   0.176190
3                                 7 Days to Die  20.276119
4                                       8BitBoy   0.800000
...                                         ...        ...
1513                    iBomber Defense Pacific   0.745833
1514              resident evil 4 / biohazard 4   2.528947
1515                               sZone-Online   0.354375
1516                  the static speaks my name   0.095238
1517                                  theHunter   0.831183

[1518 rows x 2 columns]

In [13]:
for i in range(len(playtime_mean_per_game)):
    if playtime_mean_per_game['name'][i] == 'The Elder Scrolls V Skyrim':
        print(playtime_mean_per_game['name'][i],playtime_mean_per_game['avg_hours'][i])
        break

The Elder Scrolls V Skyrim 50.85315638450502

In [14]:
#assigning rate values for each game given by user based on playtime and if purchased.
preproccesed_ds = pd.merge(ds_collab,playtime_mean_per_game[['name','avg_hours']],on='name')
conditions = [
    (preproccesed_ds['filter_hours'] == 1),
    (preproccesed_ds['filter_hours']>=0.6*preproccesed_ds['avg_hours']),
    (preproccesed_ds['filter_hours']>=0.3*preproccesed_ds['avg_hours']) & (preproccesed_ds['filter_hours']<0.6*preproccesed_ds['avg_hours']),
    (preproccesed_ds['filter_hours']>=0.2*preproccesed_ds['avg_hours']) & (preproccesed_ds['filter_hours']<0.3*preproccesed_ds['avg_hours']),
    preproccesed_ds['filter_hours']>=0,
]
rating = [5,4,3,2,1]
preproccesed_ds['game_rating'] = -1
preproccesed_ds['game_rating'] = np.select(conditions,rating)
preproccesed_ds

,user_id,name,status,hours,filter_hours,avg_hours,game_rating
0,151603712,The Elder Scrolls V Skyrim,purchase,1.0,0.0,50.853156,1
1,151603712,The Elder Scrolls V Skyrim,play,273.0,273.0,50.853156,4
2,59945701,The Elder Scrolls V Skyrim,purchase,1.0,0.0,50.853156,1
3,59945701,The Elder Scrolls V Skyrim,play,58.0,58.0,50.853156,4
4,53875128,The Elder Scrolls V Skyrim,purchase,1.0,0.0,50.853156,1
...,...,...,...,...,...,...,...
180301,61070572,Lethal League,play,2.5,2.5,1.030769,4
180302,24632218,Lethal League,purchase,1.0,0.0,1.030769,1
180303,24632218,Lethal League,play,0.2,0.2,1.030769,1
180304,17495098,Lethal League,purchase,1.0,0.0,1.030769,1
180305,17495098,Lethal League,play,5.2,5.2,1.030769,4

In [16]:
print("Users with same category for game - The Elder Scrolls V Skyrim")
for i in range(len(preproccesed_ds)):
    if preproccesed_ds['game_rating'][i] == 1 and preproccesed_ds['name'][i] == 'The Elder Scrolls V Skyrim':
        print(preproccesed_ds['user_id'][i])

Users with same category for game - The Elder Scrolls V Skyrim
151603712
59945701
53875128
92107940
250006052
11373749
54103616
56038151
94088853
116085629
148510973
9823354
100519466
100519466
180789959
180789959
168031436
41883322
170491009
190231757
65716118
98152188
162649407
128790593
130201800
71082079
25096601
42061089
227083521
227083521
60760816
72842694
20200395
4834220
65229865
65958466
77905942
198249024
176033341
68224834
68224834
34177747
34177747
44866715
142001340
93454114
210744685
104055167
117531196
117531196
64787956
64787956
131973876
131973876
44482198
167202599
159129006
156799348
68316900
102825821
102825821
147602462
52907921
12610800
78341587
298222970
298222970
96014467
215160630
68049243
48028873
131940023
136495026
24366790
89732768
87907200
110489310
107377573
115037563
115037563
70970228
306690580
191747590
56333620
92393218
85759872
85759872
154123088
154123088
72488020
72488020
205343727
106147454
217709850
57974873
100478352
233277671
71603645
71603645
84455820
141873792
176539817
176539817
37827989
96674526
13565651
92322563
158476996
101690993
53898495
136135322
8542204
8542204
69009454
67492611
43360645
43360645
142650116
45974860
85366890
105877396
80779496
24011187
24011187
24469287
39622853
116617462
11403772
254814380
254814380
50744279
50744279
82046939
82046939
111754806
27171538
240405101
240405101
94819329
199948316
199948316
119170251
99077905
99077905
116325720
9128105
127325079
127325079
152585209
152585209
258213980
258213980
118693973
149790632
59790700
96095486
66052983
93669877
164511211
11207650
11207650
2259650
2259650
59115473
59115473
225829163
104543500
103690917
287848624
287848624
71390526
58907890
111130695
111130695
181453879
138960345
138960345
120420435
72907554
83234559
190049238
190049238
98624963
122679931
110906645
101725007
101725007
30440303
298950
62878249
50801801
179772319
96282673
119211545
122026623
122026623
104408704
54293428
92025878
99723205
99723205
136866564
105384518
36546868
36546868
72996988
72996988
95325409
95325409
115958331
23717586
172470005
73835640
75232211
46637811
124878949
171067153
60859324
26729643
108223505
285860790
37490443
104727643
66615366
6717871
6717871
26465134
11978743
11978743
2083767
67694595
38049880
49893565
188189790
188189790
45120292
92639430
151234988
137837203
137837203
103260848
29239329
157899431
184508601
150789931
169688576
169688576
33013552
33013552
43684632
48984158
197328486
152497084
152497084
106066141
106066141
94269421
122798021
213022303
213022303
33706322
33706322
100057229
95531306
102552233
209626174
63965791
154730370
278678644
131023125
145243748
123101539
92663477
21061921
86055705
86055705
58057627
58057627
119310413
119310413
123627691
3449240
66255019
39037163
55426012
55426012
45774794
62633395
154458931
154458931
108007732
28648610
145320311
54568397
80128229
201280043
201280043
157080495
70408902
70408902
37422528
37422528
155718820
80250756
80250756
182557942
55906572
55906572
84925352
11813637
101687527
54826284
61506388
64973908
75463760
75463760
80189887
191126693
118695833
24721232
168571967
138941587
45411694
167093760
167093760
43955374
110658990
196066421
49462664
303252325
55975168
187462398
187462398
242937979
79474322
975449
107818793
107818793
33865373
17497581
96588736
126522515
86469479
91293844
91293844
108950666
222060673
17995238
53091150
66650717
48456902
104870123
104870123
15221799
133439936
65147980
143643478
143643478
99083518
58435428
70778973
149424772
149424772
49342564
49342564
93326304
7015471
91859894
8585433
42771635
42771635
48149238
48149238
126200826
146007471
146007471
132418423
34919318
94186745
47384202
76787637
76787637
99264709
99264709
105685427
74521316
80351692
165239864
88035166
88035166
65909415
65909415
44472980
44472980
11161178
103371488
175447188
94858657
94858657
127311699
127311699
22301321
190022459
190022459
92482012
255728964
122492047
107743243
106796307
106796307
106980036
94019469
59205262
23225650
80363319
118031880
156675178
156675178
11794760
11794760
181966419
93275329
93275329
94110492
107913460
108750879
57603447
57603447
27403206
71527252
170172944
302606492
183315077
183315077
65064340
38465050
51557405
118554131
124059151
55367062
94239910
94239910
161991221
59467141
81579335
81579335
58530556
30246419
30246419
80550861
80550861
88199811
155420511
127272741
35701646
135865220
135865220
163281091
163281091
121497634
59005471
259798464
116912767
11731710
11731710
133404545
52293096
130312302
160299889
97571329
177827103
69849141
181304845
146145063
107452765
127335438
185258131
185258131
46785501
60210313
96400571
79073449
45617627
166863117
166863117
58761868
112986636
112986636
32102983
160749747
160749747
71510748
71510748
101142088
7907686
130547869
27279261
100769089
81160212
81160212
98088157
98088157
67729331
90272527
73564778
108872482
131610144
131610144
59382844
297821985
297821985
105788297
105788297
276958784
276958784
182604873
182604873
73513367
17530772
94335638
121133260
121133260
156565178
83135348
77194239
196059860
196059860
98882747
203092936
97818502
248549548
51132884
105445346
105445346
103445207
103445207
68719896
117657402
117657402
80630217
53245953
199298990
199298990
185079540
105277989
67244867
240497102
54761333
54761333
95369808
118852041
16084897
259301403
259301403
248354453
248354453
131348564
116515230
116515230
101695880
99110207
48798067
62990992
62990992
169937489
169937489
10302000
111498455
152078939
152078939
76892907
115487966
65754991
113546110
44321815
46028967
64023574
101212067
209340839
19696244
92250668
124400480
115996656
92010366
132748085
49228258
90033155
90033155
92612763
115167911
94231294
49624770
159371621
159371621
201023624
26808868
26808868
10599862
88579585
96536935
96536935
98848653
14962163
14962163
40080833
40080833
76451157
76451157
112547463
108160472
163930591
163930591
189123038
189123038
45592640
238410719
238410719
46607365
197652539
167815968
167815968
165755355
96696864
149810726
186167611
186167611
183838531
207915392
83770731
83770731
82287546
114727578
101596530
30912860
155919035
155919035
156818121
14126086
59662830
30061970
31187179
111163130
61189155
92503355
40212239
77127388
112626210
81672131
8776918
561758
561758
143235127
127072755
12760368
13190476
75001116
137610845
144071257
144071257
116876958
92484390
61772065
187463594
187463594
54819677
8259307
8259307
12144171
144679568
144679568
11970504
182593878
127208680
127208680
96504332
65145468
86481908
16645459
110369840
73195149
163361275
202427012
202427012
224070533
50032397
132300630
86041729
58297398
112199961
112199961
71777065
95037089
250457669
81439192
191907008
191907008
294091752
294091752
11149819
32126281
207718097
134322141
171611544
110478743
110478743
150305902
109205612
109205612
109598076
134213189
44545959
220012683
105243827
118971362
258531019
258531019
16154372
67349307
155624237
172518437
90104676
194305157
194305157
39361297
107028289
277239386
209608167
50811344
248254297
153841049
14465359
87694960
87694960
67579257
129240163
95279056
95279056
209917929
209917929
56436989
126345126
78309377
161816812
73495968
192503967
81170946
44314169
79243080
71888942
139016142
218317467
68200610
58905429
138725344
51822361
115567288
60608576
26762388
114030647
114030647
128681412
128681412
186517004
252352661
252352661
43160799
11024186
207036748
207036748
112849197
103638409
103848468
103848468
69954842
94851051
38317154
177625788
164961511
138482130
159800136
159800136
206982761
205058166
100096071
144854157
298178235
298178235
196595568
196595568
77980915
105503045
92436417
174633348
77214425
95996939
135147743
85458882
100894366
74772820
184314651
58345543
58931437
58931437
24919113
166880158
77818807
155673786
155673786
124443679
163432200
79155765
79155765
140408017
140408017
153821154
153821154
125912054
80604456
80604456
167194020
140854798
140854798
31669242
156426681
156426681
127628725
127628725
49050405
49050405
109328586
102454403
163712958
2110581
2110581
6144819
82071844
133378280
47457723
47524459
207477282
48525807
158655503
85046830
34281672
210124834
175918089
167013261
108264287
108264287
162288536
124651043
166669789
86540
302341431
302341431
11300897
119185179
157235483
94521606
94521606
92940732
92940732
100993239
104109817
150033540
91085389
91085389
199659716
91807066
178003047
36404933
36404933
209023275
99711581
99711581
79319075
79319075
20772968
47384303
114838001
193103684
92276000
83148759
92669869
117345810
117345810
94396146
85673716
202843172
202843172
160767652
126294907
42657809
87201181
116564064
116564064
99096740